.header {
  background-color: #1e3d59;
  display: flex;
  padding: 0 10px;
  @media (min-width: 1024px) {
    padding: 0;
    justify-content: center;
  }
  .header-container {
    width: 70%;
    height: 90px;
    display: flex;
    align-items: center;
    color: #fff;
    .header-container_welcome {
      margin-left: 10px;
      font-size: 20px;
      font-weight: lighter;
    }
  }
}
.add-button_fixed {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #fff;
  z-index: 2;
}
.table {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1024px) {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
  }
}
