<header>
  <div class="header">
    <div class="header-container">
      <mat-icon>home</mat-icon>
      <div class="header-container_welcome">Consulta de escolas</div>
    </div>
  </div>
</header>

<div>
  <button
    class="add-button_fixed"
    mat-fab
    color="secondary"
    aria-label="Adicionar produto"
    (click)="openDialog(null)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="table">
  <table mat-table #table [dataSource]="escolas" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let escola">{{ escola.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="bairro">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Bairro</th>
      <td mat-cell *matCellDef="let escola">{{ escola.bairro }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let escola">{{ escola.tipo }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let escola">
        <button
          mat-icon-button
          (click)="atualizarEscola(escola)"
          color="basic"
        >
          <mat-icon> edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="excluirEscola(escola.id)"
          color="basic"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
