<div class="welcome">
  <div class="welcome-apresentation">
    <div class="welcome-apresentation_text">
      Olá, você chegou ao desafio desenvolvido por <b> Saulo Martins</b>.

      <p>
        Espero que goste do resultado, deixei maiores informações descritas no
        README.md do projeto, será um prazer me juntar ao time da FaliFe
        Tecnologia.😀
      </p>
    </div>
  </div>
  <div class="welcome-container">
    <div class="welcome-container_message">
      Seja bem-vindo ao <p> Desafio MedGrupo </p>
    </div>

    <div class="welcome-container_button">
      <button (click)="acessarDash()">Acessar o dashboard</button>
    </div>
  </div>
</div>
