.modal-input {
  width: 100%;
}
.modal-button_container {
  display: flex;
  justify-content: space-around;
  .button {
    background-color: #ff6e40;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
    width: 50%;
    margin: 5px;
    border: 2px solid #ff6e40;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
}
